@import "variables";
* {
  font-family: "Poppins", sans-serif;
}

.bg-image {
  background-image: url("../img/TN-FOTO.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding-top: 116px;
  min-height: 100vh;
}
h2 {
  font-weight: 700;
  font-size: 54px;
  color: $color-primary;
}
h3 {
  font-weight: bold;
  font-size: 46px;
  color: $color-white;
}
h4 {
  font-weight: 500;
  font-size: 30px;
  color: $color-white;
}
h5 {
  font-size: 30px;
  line-height: 48px;
  font-weight: 500;
}
h6 {
  font-size: 24px;
}
p {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}
button:hover,
button:active,
button:focus {
  outline: 0;
}

#contact p {
  font-size: 24px;
}
ul p {
  line-height: 24px;
}
.surname {
  font-size: 90px;
}

.underline {
  background-color: $color-background;
  width: 30%;
  color: $color-black;
  font-weight: 600;
  padding: 2px 2px;
  margin-right: 2px;
}

.list-numbered li {
  list-style-type: decimal;
  font-weight: 500;
  a.hover-underline-animation {
    color: $color-black;
    transition: color 0.2s ease-out;
    &:hover {
      color: $color-secondary;
    }
    &::after {
      background-color: $color-secondary;
    }
  }
}
.more {
  color: $color-secondary;
  font-size: 18px;
  font-weight: bold;
  &.hover-underline-animation {
    color: $color-secondary;
  }
  &.hover-underline-animation:after {
    background-color: $color-secondary;
    height: 4px;
  }
}

small .hover-underline-animation {
  text-decoration: none;
  color: $color-primary;
  &:hover {
    color: $color-primary;
  }
}

.bg-color {
  background-color: $color-background;
}

.button {
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 0px;
  padding: 8px 24px;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 $color-primary;
  transition: ease-out 0.4s;
  background-color: $color-white;
  &:hover {
    box-shadow: inset 400px 0 0 0 $color-primary;
    color: $color-white;
  }
}
.button-dg {
  border: none;
  border-bottom: 1px solid #6c757d;
  border-radius: 0px;
  padding: 2px 0px;
  display: inline-block;
  cursor: pointer;
  background-color: $color-background;
  box-shadow: inset 0 0 0 0 $color-dark-grey;
  transition: ease-out 0.4s;
  color: $color-dark-grey;
  &:hover {
    box-shadow: inset 400px 0 0 0 $color-dark-grey;
    color: $color-white;
    svg {
      stroke: $color-white;
    }
  }
  & svg {
    stroke: $color-dark-grey;
  }
}
.slide-down:hover {
  box-shadow: inset 0 100px 0 0 $color-primary;
}
#seym .slide-down:hover {
  box-shadow: inset 0 100px 0 0 $color-dark-grey;
}
svg {
  position: relative;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: $color-primary;
  stroke-width: 1.5;
  margin-left: 5px;
  transition: ease-out 0.4s;
}
.button:hover svg {
  stroke: white;
}

/* for all sorts of links in text */
// CZY BOTTOM MUSI BYĆ WYPISANE
.hover-underline-animation {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: $color-primary;
  &:hover {
    text-decoration: none;
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

#about-me .button {
  font-size: 14px;
  border: 1px solid $color-primary;
  border-radius: 20px;
}
strong svg {
  stroke-width: 2.5;
}
#contact .hover-underline-animation {
  color: $color-black;
  &:after {
    background-color: $color-black;
    height: 4px;
  }
}
.more-text tr:first-child {
  & th {
    border-top: none;
  }
  & td {
    border-top: none;
  }
}

.more-text {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.7s ease;
}
.open {
  max-height: 1700px;
  transition: max-height 0.7s ease;
}

.zoom {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}
@media only screen and (max-width: 768px) {
  // * {
  //   border: 1px solid red; //obojetnie
  // }
  .container h3 {
    //typografia
    font-size: 48px;
  }
  h2 {
    font-size: 38px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
  }
  .ach-img {
    width: 80px;
    height: 80px;
  }
  .sprawozdania {
    img {
      width: 80%;
    }
    h6 {
      font-size: 18px;
    }
    #about-me {
      img {
        width: 150px;
      }
    }
  }
  .show-button {
    font-size: 80%;
  }
  #contact {
    p {
      font-size: 18px;
    }
    img {
      width: 40px;
      height: 40px;
    }
    .ach-img {
      width: 50px;
      height: 50px;
    }
  }
  #about-me {
    img {
      display: none;
    }
  }
}
@media (min-width: 576px) {
  .navpad {
    padding-top: $nav-sm-height;
  }
}
