$color-white: #fff;
$color-shadow: #0000002b;
$color-primary: #023dab;
$color-primary-light: #023dab80;
$color-secondary: #f77c1b;
$color-background: #f3f4f7;
$color-black: #0b0b0b;
$color-grey: #0b0b0b66;
$color-dark-grey: #6c757d;
// normal
$h2: 54px;
$h3: 46px;
$h4: 38px;
$h5: 30px;
$h6: 24px;
$p: 24px;
$tm: 16px;
$button: 20px;
// mobile
$xs-width: 0px;
/* BOTOSTRAP 
$sm-width: 540px;
$md-width: 720px;
$lg-width: 960px;
$xl-width: 1140px;
*/
$gutter: 40px;
$nav-height: 120px;
$nav-height-scrolled: 80px;
$nav-sm-height: 100px;
